<div class="col-12 col-md-4">
    <div class="card my-1">
        <div class="card-body">
        <h5 class="card-title"><%= link_to product.name, product %></h5>
        <p class="card-text"><%= product.description %></p>
        <p class="card-text"><%= number_to_currency(product.price_cents / 100) %></p>
        <%= button_to 'Add to cart', add_to_cart_product_path(product), method: :post, class: 'btn btn-primary text-light', onclick: "refreshPage()" %>
        </div>
    </div>
</div>