
<div class="card">
  <div class="card-header">
    <%= link_to product.name, product %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= product.description %></h5>
    <p class="card-text"><%= number_to_currency(product.price_cents / 100) %></p>
    <%= button_to 'Add to cart', add_to_cart_product_path(product), method: :post, class: 'btn btn-dark', onclick: "refreshPage()" %>
  </div>
</div>